/****************************
      General and Main Selectors
****************************/

* {
  box-sizing: border-box;
}

input {
  margin-top: 2em;
  padding: 3px;
  width: 40%;
  border-color: lightgray;
  border-radius: 8px;
}

.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/****************************
      Class Selectors
****************************/

.search {
  text-align: center;
}

.wrapper {
  width: 70%;
  padding: 2.5em 0;
}

/****************************
      Media Queries
****************************/

@media(min-width: 768px) {
  .wrapper {
    margin: auto;
  }

  .grid {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.2em;
  }

  img {
    padding: 0px;
    max-width: 100%;
  }
}
